html {
  scroll-behavior: smooth;
}

#section-menu-wrapper {
    width: calc(50% - 20em);
    float:left;
    text-align: right;
}

#content-wrapper {
    width: 40em;
    float:left;
}

#active-nav-wrapper {
    width: calc(50% - 20em);
    float:right;
}

#section-menu-wrapper nav {
  padding-right: 20px;
}

#section-menu-wrapper nav > ul > li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#section-menu-wrapper nav > ul > li > button {
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
}

#section-menu-wrapper nav > ul > li > button.selected {
  text-decoration: underline;
  font-weight: bold;
}
